
a {text-decoration: none; color: #000000}

#main {background-color:#ffffff; ; border-style:double; margin:50px; height: 900px; width: 1180px; margin: auto}
header {background-color:white; margin:5px; height: auto}
header div.header {text-align: center; font-size: 30px; font-weight: bold;}
header div.header_right {text-align: right; margin-right:30px; }
header div.header_right a {border: 2px solid #0072ce;border-radius: 7px; padding:3px}


nav {background-color:#ffffff; border-top:1px solid #0072ce; border-bottom: 1px solid #0072ce; margin: 5px}
nav span {border-right:3px double #0072ce; padding-left:30px; padding-right:30px}
nav ul {display:inline-block;}
nav ul li {display: inline; list-style-type: none; border-left: 2px solid #0072ce; padding-left:20px; padding-right:10px}
nav ul li:first-child {border-left: none}
nav ul li a {padding:7px}
nav ul li a:hover {color:#ffffff; background-color: #0072ce; }

article {float:right; background-color:#ffffff; border: 1px solid #0072ce; padding:1px;margin:5px; }
#main_iframe {text-align: center; vertical-align: baseline;}
.mycolor {color: #0072ce; }

aside {border: 1px solid #0072ce; text-align: center; float:left; margin:5px; padding:5px; width:140px;}
aside span {display: block; padding: 5px; margin: 5px; }
aside ul {border-top: 3px double #0072ce; padding: 5px; margin: 5px}
aside ul li {border-top: 2px solid #0072ce; list-style-type: none; padding-top: 10px; padding-bottom: 10px;padding-left: 0px; padding-right: 0px; margin-left: 5px; margin-right: 5px; }
aside ul li:first-child {border-top: none}
aside ul li a:hover {color:#0072ce; font-weight: bold; font-size: 13pt}

footer {position:absolute;bottom: 0px;width: auto; border-top:1px solid #0072ce; background-color:#eeeeee; text-align:center; padding: 5px; margin:5px; }

/* ~Fruit.html */
div.category_name {font-size: 20px; font-weight: bold;}
ul.product {list-style: none;padding:0px ;margin:0px; /*border:1px dashed blue*/ }
ul.product li {display:inline-block; text-align: center; padding:5px; margin:10px; /*border: 1px solid black*/; background-color: #eeeeee; }
ul.product li div.price {font-weight: bold; background-color: #ffffff;}
ul.product li div.image {width:200px; height:140px; overflow:hidden;}
ul.product li span.name {font-weight: bold;}

/* login.html, join.html*/
body.forms {text-align: center; }
body.forms h3 {color: #0072ce;}
body.forms fieldset {border:1px dashed #0072ce; width: 370px; margin: auto; }

/* order0.html */
body.orders {text-align: center; }
body.orders #mytable {border-color: #0072ce; text-align: center; width: 600px; height: 400px; margin: auto; }
body.orders #mytable caption {font-size: large; font-weight: bold; color: #0072ce; margin: 2em}
body.orders #mytable td input {width: 35px; }
